{
  "extends": "ngryman",
  "rules": {
    "indent": ["error", 2, {
      "flatTernaryExpressions": true,
      "SwitchCase": 1
    }],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }]
  }
}
